body {
  font-family: Arial, sans-serif;
  background: #f5f7fa;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:10px;
  background: #fff;
}

nav span {
  margin: 5px 10px;
  color: #444;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
}
.username{
  margin-right: 10px;
  color: #444;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;

  background: #aed0eb;
  padding: 8px 20px;
  border-radius: 8px;
   /* for right alignment */
  color: #00aaff;
}
 nav a{text-align: center; 
    
    margin: 5px 10px;
  color: #747373;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;

  }

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #fff;
  margin: 32px 0px;
  border-radius: 0px;
}

.hero-left h1 {
  font-size: 2.3rem;
  font-weight: 700;
  color: #444;
  margin: 10px 0px;
  width:100%;
}

.hero-left h2 {
  color: #00aaff;
  font-size: 2rem;
  font-weight: 700;
  margin: 10px 0px;
  width:100%
}

.hero-left p {
  color: #888;
  font-size: 1.1rem;
  margin-bottom: 32px;
  margin:10px 0px;
}

.hero-left button {
  background: #00aaff;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.15rem;
  max-width:300px:
}

.hero-right img {
  width: 350px;
  border-radius: 18px;
  margin-right: 64px;
}
